# Make this rpm compatible with older RHEL versions
%global _source_filedigest_algorithm 1
%global _binary_filedigest_algorithm 1
%global _binary_payload w9.gzdio
%global _source_payload w9.gzdio

%define  _webappsdir %{_datadir}/webapps
%define  _jbossasdir %{_datadir}/jbossas

Name: vault3
Version: $version
Release: $release
#if $epoch
Epoch: $epoch
#end if
License: OpenSource
Summary: Artifacts from Vault3.0
Group: Development/Libraries/Java
URL: http://www.redhat.com/

#set $i = 0
#for $artifact in $all_artifacts
Source$i: $artifact
#set $i += 1
#end for

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)
BuildArch: noarch

%description
Artifacts from Vault that is maintained by Red Hat Hosted and Shared Service Team.

%prep

%build

%install
rm -rf %{buildroot}
/usr/bin/install -d %{buildroot}%{_webappsdir}
/usr/bin/install -d %{buildroot}%{_webappsdir}/%{name}
/usr/bin/install -d %{buildroot}%{_sysconfdir}/httpd/conf.d
/usr/bin/install -d %{buildroot}%{_jbossasdir}
/usr/bin/install -d %{buildroot}%{_jbossasdir}/modules/com/redhat/tools/vault/conf/main
/usr/bin/install -d %{buildroot}%{_webappsdir}/%{name}/data
/usr/bin/install -d %{buildroot}%{_webappsdir}/%{name}/mysql
/usr/bin/install -d %{buildroot}%{_jbossasdir}/standalone/configuration
unzip -j /builddir/build/SOURCES/com.redhat.tools.vault-vault3-%{version}-sources.zip vault-all/release/etc/httpd/conf.d/vault.conf -d %{buildroot}%{_sysconfdir}/httpd/conf.d
unzip -j /builddir/build/SOURCES/com.redhat.tools.vault-vault3-%{version}-sources.zip vault-all/release/modules/com/redhat/tools/vault/conf/main/config.properties -d %{buildroot}%{_jbossasdir}/modules/com/redhat/tools/vault/conf/main
unzip -j /builddir/build/SOURCES/com.redhat.tools.vault-vault3-%{version}-sources.zip vault-all/release/modules/com/redhat/tools/vault/conf/main/module.xml -d %{buildroot}%{_jbossasdir}/modules/com/redhat/tools/vault/conf/main
unzip -j /builddir/build/SOURCES/com.redhat.tools.vault-vault3-%{version}-sources.zip vault-all/release/user/share/jbossas/standalone/configuration/standalone-full.xml -d %{buildroot}%{_webappsdir}/%{name}
unzip -j /builddir/build/SOURCES/com.redhat.tools.vault-vault3-%{version}-sources.zip vault-all/release/user/share/java/mysql-connector-java.jar -d %{buildroot}%{_webappsdir}/%{name}/mysql
unzip -j /builddir/build/SOURCES/com.redhat.tools.vault-vault3-%{version}-sources.zip vault-all/release/data/* -d %{buildroot}%{_webappsdir}/%{name}/data

#set $i = 0
#for $artifact in $all_artifacts
  #if $artifact.endswith('.war')
mkdir %{buildroot}%{_webappsdir}/%{name}/$artifact
unzip -d %{buildroot}%{_webappsdir}/%{name}/$artifact %{SOURCE$i}
  #elif $artifact.endswith('.ear')
mkdir %{buildroot}%{_webappsdir}/%{name}/$artifact
unzip -d %{buildroot}%{_webappsdir}/%{name}/$artifact %{SOURCE$i}
  #elif $artifact.endswith('-sources.zip')
echo "Skipping artifact"
  #else
/usr/bin/install -m 644 %{SOURCE$i} %{buildroot}%{_webappsdir}/%{name}
  #end if
  #set $i += 1
#end for
cd %{buildroot}%{_webappsdir}/%{name}
ln -s vault-web-%{version}.war vault-web.war
cd -

%clean
rm -rf %{buildroot}

%files
%dir %{_webappsdir}
%dir %{_webappsdir}/%{name}
%{_webappsdir}/%{name}/*
%config(noreplace) %{_sysconfdir}/httpd/conf.d/vault.conf
%config(noreplace) %{_jbossasdir}/modules/com/redhat/tools/vault/conf/main/config.properties
%config(noreplace) %{_jbossasdir}/modules/com/redhat/tools/vault/conf/main/module.xml

%changelog
* Mon Dec 03 2012 Wei Zhao<wezhao@redhat.com> - 1.0-8
- fix bugs 881744,882160,882450
* Thu Nov 22 2012 Wei Zhao<wezhao@redhat.com> - 1.0-7
- change the path of file "standalone-full.xml" to %{buildroot}%{_webappsdir}/%{name}
* Fri Nov 19 2012 Wei Zhao<wezhao@redhat.com> - 1.0-6
- delete account info from vault_new_create.sql
* Fri Nov 16 2012 Wei Zhao<wezhao@redhat.com> - 1.0-5
- fix bugs including 877302 877255 871331 876156 876154
* Thu Nov 15 2012 Wei Zhao<wezhao@redhat.com> - 1.0-4
- fix all bugs except 876147,875981,875979
- correct user guide's link
* Mon Nov 12 2012 Wei Zhao<wezhao@redhat.com> - 1.0-3
- add listener to sync with bugzilla
* Fri Nov 09 2012 Wei Zhao<wezhao@redhat.com> - 1.0-2
- add Apache XML RPC function
* Wed Nov 05 2012 Wei Zhao<wezhao@redhat.com> - 1.0-1
- Initial version

